@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #111;
  transition: all 0.25s;
}

/* UTILITY */
.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.btn {
  transition: all 0.25s;
  outline: none;
}
.btn:active {
  outline: none;
  transform: translateY(1px);
}

.flex-layout,
.navbar .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}
.navbar .container {
  padding: 0;
}
@media (max-width: 768px) {
  .navbar .container {
    max-width: 100%;
  }
}

.text-grey-dark-1 {
  color: #5c5c5c !important;
}

.text-grey-dark-2 {
  color: #5c5c5c !important;
}

.text-grey-dark-3 {
  color: #5c5c5c !important;
}

.text-white {
  color: #fff !important;
}

.text-grey-light-1 {
  color: #828282 !important;
}

.text-grey-light-2 {
  color: #828282 !important;
}

.text-primary-green {
  color: #07a081 !important;
}

.bg-primary-green {
  background-color: #07a081 !important;
}

.header {
  height: 100vh;
  max-height: 50rem;
  position: relative;
}

.navbar {
  position: fixed;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.12) !important;
  width: 100%;
  z-index: 999;
  box-shadow: none;
  background-color: #fff;
  height: 4.5rem;
}
.navbar::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background-color: rgba(64, 65, 70, 0.6);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.nav-toggle {
  cursor: pointer;
  font-size: 1.75rem;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
}
.nav-toggle:hover {
  color: #07a081;
}

.nav-close {
  opacity: 0;
  font-size: 2rem;
}

.nav-bars,
.nav-close {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  transition: opacity 0.2s, transform 0.4s, color 0.25s;
}

.show-toggle .nav-bars {
  opacity: 0;
  transform: rotate(90deg);
}
.show-toggle .nav-close {
  display: initial;
  transform: rotate(90deg);
  opacity: 1;
}

@media (min-width: 1200px) {
  .nav-toggle {
    display: none;
    overflow: hidden;
  }
}
.nav-links {
  padding: 0;
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 0;
  font-weight: 500;
}
.nav-links .nav-link {
  transition: all 0.25s;
}
.nav-links .nav-link:hover {
  color: #07a081;
}

.link-active {
  color: #07a081;
}

.input-search {
  padding: 0.25rem 1rem;
  border-radius: 1.5rem;
  border: 1px solid #828282;
}
.input-search::-moz-placeholder {
  font-size: 0.8rem;
}
.input-search::placeholder {
  font-size: 0.8rem;
}

.icon-search {
  cursor: pointer;
  margin-left: -2rem;
  color: #5c5c5c;
}

.nav-content {
  -moz-column-gap: 1rem !important;
  column-gap: 1rem !important;
}

.icons-box {
  gap: 0.5rem;
}

.nav-logo {
  font-size: 1.75rem;
}
.nav-logo:hover {
  color: #07a081;
}

.icon {
  cursor: pointer;
  transition: all 0.25s;
}
.icon:hover {
  color: #07a081;
}

@media (max-width: 1200px) {
  .navbar::before {
    display: none;
  }
  .navbar .container {
    padding-inline: 1rem;
  }
  .nav-content {
    background-color: #fff;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    justify-content: center;
    top: 4.5rem;
    left: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.09);
    transition: opacity 0.4s, max-height 0.8s, visibility 0.2s;
  }
  .nav-links {
    align-items: initial;
    row-gap: 1rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
  }
  .nav-links .nav-link {
    display: flex;
  }
  .search-box {
    margin-inline: 2rem;
  }
  .show-nav {
    max-height: 1000px;
    visibility: visible;
    opacity: 1;
  }
  .nav-content {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .nav-link {
    justify-content: center;
  }
  .search-box {
    margin: 1rem 0;
  }
}
.icons-media {
  gap: 0.6rem;
  font-size: 1.5rem;
}

.btn-primary-green {
  border: none;
  background-color: #07a081;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.09);
  margin-bottom: 1rem;
  padding: 0.6rem 2.5rem;
  transition: all 0.25s;
}
.btn-primary-green:hover {
  background-color: #07a081;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}
.btn-primary-green:active {
  transform: translateY(1px);
}

.icon-brand {
  cursor: pointer;
  color: #07a081;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.white-box {
  z-index: 10;
  background-color: #f6f6f6;
  position: absolute;
  opacity: 0.75;
  border-radius: 1rem;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  bottom: 6rem;
  right: 0;
  padding: 1rem 2rem;
}

.follow-number {
  font-size: 1.15rem;
  font-weight: bolder;
  line-height: 1;
}

.container-hero {
  padding-top: 8rem;
}

.foot-print {
  position: absolute;
  color: rgba(7, 160, 129, 0.8);
  font-size: 20rem;
  opacity: 0.15;
  top: 35%;
  right: 3rem;
  z-index: 0;
}

.section {
  padding: 6rem 0;
  border-bottom: 1px solid #d6ebdc;
}

.pets-box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: center;
}

.retangle {
  height: 6rem;
  width: 15rem;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  background-image: linear-gradient(
    93.45deg,
    rgba(7, 160, 129, 0.4) 7.83%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s;
}
.retangle:hover {
  transform: scale(1.15);
}

.retangle img {
  height: 95%;
  margin: 0;
}
.retangle span {
  font-size: 1.25rem;
}
.retangle .img-rabbit {
  height: 80%;
}

.price-box {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
  color: #404146;
}

.real-price {
  text-decoration: line-through;
}

.all-pets-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-column-gap: 2rem;
  row-gap: 3rem;
}

.card {
  transition: all 0.35s;
}
.card:hover {
  transform: translateY(-0.5rem);
}

.card-img-top {
  height: 17.5rem;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.08);
}

.card-body > * {
  text-align: center;
  color: #404146;
}

.page-box {
  gap: 1rem;
}

.pre-btn,
.next-btn {
  background-color: rgba(7, 160, 129, 0.75);
  color: #fff;
  padding: 0.25rem 0.75rem;
  border: none;
  outline: none;
  transition: all 0.25s;
}
.pre-btn:hover,
.next-btn:hover {
  background-color: rgba(7, 160, 129, 0.9);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.09);
}

.pre-btn {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.next-btn {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.numbers-container {
  display: flex;
  gap: 1rem;
}

.number-btn {
  padding: 0.25rem 1rem;
  border-radius: 3px;
  background-color: #d6ebdc;
  outline: none;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.09);
  border: none;
  transition: all 0.3s;
}
.number-btn:hover {
  background-color: rgba(7, 160, 129, 0.5);
}

.active,
.active:hover {
  color: #fff;
  background-color: rgba(7, 160, 129, 0.75);
  cursor: default;
}

.disabled {
  background-color: #cbcbcb;
  cursor: default !important;
}
.disabled:hover {
  background-color: #cbcbcb;
  box-shadow: initial;
}

.contact-box {
  display: flex;
  align-items: start;
  gap: 1rem;
  flex-direction: column;
}

.btn-send {
  outline: none;
  background-color: #07a081;
  border: none;
  padding: 0.25rem 0.5rem;
}
.btn-send i {
  color: #fff;
}

.contact-content {
  flex-wrap: wrap-reverse;
}

.btn-white {
  background-color: #fff;
}
.btn-white:hover,
.btn-white:active {
  background-color: #fff !important;
}

.img-cta {
  position: absolute;
  width: 150%;
  max-inline-size: 150%;
  transform: translateY(-50%);
}

.img-pucci {
  top: 40%;
  left: 50%;
}

.img-mart {
  top: 55%;
  right: 35%;
}

.btn-cta {
  width: -moz-max-content;
  width: max-content;
  padding: 0.25rem 1rem;
  position: absolute;
  bottom: 2.5rem;
  right: 50%;
}

.red-circle {
  background-color: #ff3c3c;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  padding: 0.5rem;
  box-sizing: content-box;
  font-size: calc(0.65rem + 1vw);
  right: 2%;
}

.rating-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  bottom: 30%;
  left: 7.5vw;
}
.rating-box i {
  color: #ffc933;
}
.rating-box .promotion-price {
  font-size: larger;
  color: #ff3c3c;
}
.rating-box .real-price {
  color: #404146;
  text-decoration: line-through;
  align-self: end;
  margin-top: -1rem;
}

.cta-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 0.25rem;
}

.icon-cta {
  font-size: 1.75rem;
  color: #5c5c5c;
}

.img-footer {
  max-width: 15rem;
  margin: 0;
}

@media (max-width: 576px) {
  .retangle {
    background-color: rgba(7, 160, 129, 0.35);
    border-radius: 5rem;
    color: #fff;
  }
  .card-img-top {
    height: initial;
  }
}
@media (max-width: 768px) {
  .nav-logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
  }
  .rating-box {
    position: relative;
    bottom: initial;
    left: 50%;
    transform: translateX(-50%);
  }
  .cta-footer {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .img-contact {
    width: 85%;
  }
  .intro-content {
    align-items: initial;
  }
  .btn-primary-green {
    align-self: center;
  }
  .icons-media {
    align-self: center;
  }
  .img-hero {
    max-width: 60%;
    max-height: 40vh;
  }
  .white-box {
    right: initial;
    padding: 1rem;
    left: 50%;
    font-size: smaller;
    bottom: 4rem;
  }
  .white-box .follow-number {
    font-size: 1rem;
  }
} /*# sourceMappingURL=style.css.map */
